	*
	{
	 margin:0;
	 padding:0
	 }
	body
	{font-family: Arial, Helvetica, sans-serif;
	 font: 14px Tahoma;
	 font-weight: 500;
	 color: #000;
	 background: #fff; }
	.active
	{
	 background-image: url(image/active.png) !important;
	 background-repeat: repeat-x !important;
	}
	.active a{
	 color: #CC0033 !important;
	}
	.active-submenu
	{
	 font-weight: bold !important;
	}
	#add-img{
	  border: 1px solid #000;
	  height: auto;
	  width: 220px;
	}
	.admin-form{
	  float: left;
	  width: 220px;
	  padding-left: 10px;
	}
	.admin-form  legend{
	  margin: 0 10px;	  
	}
	.admin-page{
     width: 100%;
	 border: 2px outset #ccc;	
	 background-color: #E8E8E8;
	 padding: 15px 0;
	 overflow:hidden;
	}
	.admin-table 
	{
	/* border: 1px solid #000;*/
	 border-collapse: collapse;
	 width: 100%;
	 padding: 1px;
	}
	.admin-table th,td{
	 height: 30px;
	 margin: 0;
	 border: 1px solid black;
	 text-align: center;
	}
	.admin-table td{
	 background-color: white;
	}
	.admin-table td > img{
	  float: left;
	  width: 180px;
	  height: 120px; 
	}
	.admin-data-div{
	  /*border: 1px solid #000;*/
	  width:745px;
	  float: right;
	  margin-right: 10px;
	}
	   /* форма авторизации */
	#authorization {
	 width: 165px;
	 margin: 0 auto;
	 padding: 8px 5px;
	 border: 1px solid #000;
	 background: #ccc;
	 text-align: center;
	}
	#authorization input{
	margin: 6px;
	}
	#authorization input[type="submit"]{
	position: relative;
	width: 50%;
	font-weight: bold;
	}
		/* стили цитат на странице права и обязаности  */
	blockquote { 
	display: block;
    background-color: #CCC;	
	padding: 10px 45px; /* Делаем отступы для кавычек */ 
	border-left: 2px solid #B22222; /* Делаем рамку */ 
	/*border-width: 1px;/*0 10px 0 10px;  по бокам */ 
	margin: 10px 25px; 
	color: #2F4F4F;
	font-size: 10pt;
	font-style: italic;
	} 
	blockquote:before { 
	 content: "“"; /* Левая кавычка */ 
	 font: 5em/36px Times, serif; /* Указываем размер и высоту строки (уменьшенная, чтобы кавычка была приподнята) */ 
	 color: #B22222; 
	 float: left; /* Для обтекания текстом */ 
	 margin-left: -45px; /* Углубляем кавычку в отступ блока */ 
	 padding: 0 2px; 
	} 
	blockquote:after { 
	 content: "”"; /* Правая кавычка */ 
	 font: 5em/26px Times, serif; /* Указываем размер и высоту строки (еще более уменьшенная, чтобы кавычка была сильнее приподнята) */ 
	 color: #B22222; 
	 float: right; /* Для обтекания текстом */ 
	 margin-right: -45px; /* Углубляем кавычку в отступ блока */
	 padding: 0 2px 0 0; 
	}
	blockquote > p{
	 margin: 0;
	 margin-top: 3px;
	 font-weight: bold;
	}
	blockquote .policy-list{
	 margin-left: 25px !important;
	}
	.banner{
	 width: auto;
	 height: 220px;
	 background-color: #FFF;
	 margin: 5px 0 ;
	 border: 4px double #000;
	}
	.call{
	 margin-top: 10px;
	 background-color: green;
	 width: 200px;
	 height: 80px;
	}
	    /* блок обратной связи */
	.control{
	 margin-top: 20px;
	 width: 200px;
	 height: 73px;
	 background: url(image/control.jpg);
	 }
	 #contact-img{	  
	   width: 100%;
	   display:block;
	   text-align: center;
	 }
	 #command-div{
	  margin: 8px 0 0 0;
	 }
	 #command-div .command-button{
	  width: auto;
	  height: auto;
	  padding: 4px;
	  font-weight: bold;
	  border-radius: 20px;
	  background: #E8E8E8;
	  background: -moz-linear-gradient(top,  #82cc5d 0%, #53b73c 100%);
	  border: 2px solid red;
	  margin-bottom: 3px;
	 }
	
	
		/* форма для добавления авто стр. администрирования */
	#car-form .descript{
	 text-align: left;
	 padding-left: 4px;
	 font-weight: 600;
	 font: 10pt 'Arial';
	}
	#car-form div > img{
	 width: 160px;
	 float: left;
	}
	#car-form .descript img{
	 border: 3px outset #ccc;
	 width: 20px;
	 height: 20px;
	}

		/* div на странице автопарк */
	.cars-gallery{ 
	 /*border: 3px outset #ccc;*/
	 margin: 0 auto;
	 padding: 8px;
	}
		/* красная полоса сверху и снизу */
	.col_title{ 
	 clear: both;
	 width: 100%;
	 height: 8px;
	 background-color: #d70505;
	 margin: 5px 0 5px 0;
	}
	   /* блок для контента */
	.content
	{
	 position: relative;
	 height: auto;
	 line-height: 1.5;
	 padding: 5px 15px;
	}
	.content p{
	   text-align: justify;
	   text-indent: 20px;
	   margin-bottom: 8px;
	}
	.content .policy-list{
	   margin-left: 45px;
	}
	.descript{
	 padding:0;
	}
	 .depiction{
	  font-size: 12px;
	  color: #666666;
	 }
	 .description{
	  margin-left: 165px;
	  font-size: 12px;
	 }
	 .description a > img{
	  margin-top: 5px;
	  border: 1px solid #cacaca;
	  clear: both;
	 }
	 .edit-form {
	 margin: 0 auto;
	 /*border: 1px solid #000;*/
	 width: 400px;
	}
	.edit-form form{
	 border: 1px solid #000;
	 text-align: center;
	}
	.edit-form table{
	 margin: 0 auto;
	}
	.edit-form td{
	 border-style: hidden;
	 /*border: 1px solid #000;*/
	 float: left;
	 height: auto;
	 }
	 .edit-form label{
	 font: bold 10pt/9pt sans-serif; 
	 }
	.edit-form input{
	 width: 223px;
	 margin: 1px;
	}
	.edit-form input[type="submit"],input[type="reset"]{
	 width: 100px;
	 margin: 5px auto;
	}
	.edit-form a{
	 font: 11pt sans-serif;
	}
	.edit-form a:hover{
	 font-weight: bold;
	}
	.error-valid{
	  border: 2px solid red;
	}
	 .feedback-image{
	  margin-top: 20px;
	  width: 200px;
	  height: 73px;
	  background: url(image/feedback.jpg); 
	  }
	 .feed_link {
	  font-size: 14pt;
	  text-align: center;
	  margin-top: 3px;
	  margin-bottom: 3px;
	  }
	  .feed_link a {
	  color: #000;
	  text-decoration: none;
	  }
	  .feed_link a:visited{
	  color: #000;
	  }
	  .feed_link a:hover{
	  color: #000;
	  text-decoration: underline;
	  }
	 #file{
	   font: 13px Arial;
	   margin: 0;
	 }
	 
	 #find{
	  width: auto;
	  padding-left: 10px;
	}
	 
	 #find legend{
	  margin-top: 5px;
	  float: left; 
	 }
	 #find-form{
	  margin: auto;
	 }
	.footer
	{ 
	 height: 40px;
	 margin: 0; 
	 width: 1000px;
	 height: 150px;
	 position: relative;
	 }
	 .footer_menu{
	 margin: 15px 15px 15px 15px;
	 text-decoration: none;
	 font-size: 10pt; 
	 font-weight: 500;
	 height: 30px;
	 border-bottom:1px dotted #000;
	 padding: 5px 15px 15px 5px;
	 }
	 .footer_menu a{
	 display: block;
	 text-decoration: none;
	 text-transform: uppercase;
	 font-size: 9pt; 
	 font-weight: 500;
	 color: #000;
	 }
	 .footer_menu li{
	 list-style: none;
	 margin-right: 10px;
	 float: left !important;
	 }
	 .footer_bottom{
	 /**/
	 margin-top: 20px;
	 margin-bottom: 20px;
	 font-size: 9pt;
	 height: 50px;
	 }
	 .foto-cars{
	  margin: 2pt;
	  width: 175px;
	  border: 1px solid #000;
	 }
	 .f_contacts{
	 position: relative;
	 vertical-align: top;
	 width: 400px;
	 float: left;
	 }
	 .f_contacts a{
	  color: red;
	 }
	 .f_copy{
	 width: 100px;
	 position: relative;
	 right: 3px;
	 text-align: right;
	 float: right;
	 }
	#head{
	 background-color: silver;
	}
	 .header{
	 height:130px;
	 /*background:url(image/header.png);*/
	 }
	 #iframebox{
		width:345px; 
		height:500px;
	 }
	 .iholder{
	    border: 1px solid #000;
	    width: 360px;
	    padding: 2px;
	    float: left;
	    border-radius: 5px;
		overflow: hidden;
		background-color: #FFF;
	   }
		/*div с нами комфортно*/
	 .img_bot{  
	  height: 40px;
	  width: auto;
	  margin:  5px 10px 5px 10px;
	  clear: both;
	  background: url(image/bottom_content.png) no-repeat left;
	 }
	  #img-form{
	  padding-left: 50px;
	  width: 275px;
	  float: left;
	 }
	 #img-table{
	  border: 1px solid #000;
	  width:600px;
	  float: right;
	  margin-right: 10px;
	 }
	 .main{
	 overflow:hidden;
	}
	#online-order{
	 text-align: center;
	}
	.marquee{
	 position: relative;
	 width: 100%;
	 height: 16px;
	 overflow: hidden;
	}
	.marquee-div{
	 white-space: nowrap;
	 line-height: 16px;
	 font-size: 12px;
	 font-weight: bold;
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	.my-table {
	 border-collapse: collapse;
	 border: 1px solid #000;
	 width: 95%;
	}
	.my-table th{
	 font-weight: bold;
	 border: 1px solid black;
	}
	.my-table td{
	 height: 30px;
	 margin: 0;
	 border: 1px solid black;
	 text-align: center;
	}	
	.my-table .hd{
	 width: 120px; 
	}
	.message{
	 font-size: 20px;
	 text-align: center;
	 margin: 5px;
	}
	.new-admin{
	 width: 205px;
	 margin: 0 auto;
	 border: 1px solid #000;
	 background: #ccc;
	}
	.new-admin input{
	 width: 190px;
	 margin: 5px;
	}
	.new-rate{
	 width: 210px;
	 margin: 0 auto;
	 border: 1px solid #000;
	 background: #ccc;
	}
	.new-rate input{
	 width: 195px;
	 margin: 5px;
	}
	.new-car{
	 width: 210px;
	 float: left;
	 margin-right: 5px;
	 padding: 5px;
	 border: 1px solid #000;
	 background: #ccc;
	}
	.new-car input,select{
	  width: 200px;
	  margin: 5px;
	}
	.page-title{ 
	 color: #d70505 ;
	 font-size: 22px;
	 font-weight: 100;
	 line-height: 200%;
	}
	#partner-table{
	 border-style: none;
	 width: 75%; 
	}
	#partner-table td{
	 border-style: none;
	 text-align: left;
	}
	.policy-list{
	 margin-left: 10px;
	}
	.policy-list ol{
	 font-weight: bold;
	 margin-left: 15px;
	}
	.policy-list li{
	font-weight: normal;
	color: #000;
	}
	.red-str {
	 color: red;
	}
	.sidebar{
	 width: 200px;
	 height: auto;
	 float: right;
	 padding-bottom: 10px;
	 padding-top: 5px;
	}
	 .section-menu{
	 height: 30px;
	 font-size: 10pt;
	 background: none repeat scroll 0 0 #DFDDE2;
	}
	 .section-menu ul{
	  list-style: none;
	 }
	 .section-menu li{
	  float: left;
	  margin-left: 20px;
	  margin-top: 5px;
	 }
	 .section-menu li a,.section-menu li a:active,.section-menu li a:visited,.section-menu li a:hover{
	  color: #CC0033;
	 }
	.sub-list{
	  margin-left: 15px;
	}
	
	#tariff-table{
	 /*border: 1px solid #000;*/
	 width: 64%;
	 float:right;
	 padding-right: 50px;
	}
	#tariff-form{
	 /*border: 1px solid #000;*/
	 float: left;
	 width: 30%;
	}
	.top-menu
	{ 
	 height: 32px;
	 background:url(image/menu_bg.jpg);
	 background-repeat: repeat-x; /* повторение фона */
	 text-transform: uppercase;
	}
	.top-menu li
	{
	 display: block;
	 vertical-align: middle;
	 margin-left: 10px;
	 list-style: none;
	 float: left;
	}
	.top-menu li a
	{
	 display: block;
	 padding: 5px 10px ;
	 text-decoration: none;
	 font-size: large; 
	 font-weight: 500;
	 color: #fff;
	}
	.top-menu li a:hover
	{
	 font-weight: 500; 
	 color: #CDCDB4;
	}	
	.rate-name{
	 font-weight: bold;
	}
	#title-table{
	 width: 250px;
	}
	#vacancy li > a{
	  font-weight: 600;
	  color: #000;
	}
	#vacancy li > a:hover{
	  color: #CD0000;
	}
	#wr{
	 margin-right: 205px;
	}
	 .wrapper
	{
	 width: 1000px;
	 height: auto;
	 margin: 0 auto;
	 padding: 0;
	}
	
#drop-files {
	position:relative;
	width: auto;
	height: auto;
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

#img-div {
	border: 1px solid #000;
	width: auto;
	padding:0;
}
#uploadbtn{
    color: red;
	font-weight: bold;
	font-size: 11px;
}
#img-holder{
	height: auto;
	width: auto;
}
#img-holder img{
    margin: 0 auto;
	width: 208px;
	border: 1px solid #000;
}